@charset "utf-8";
/* CSS Document */

/*---------------------------------------------------------------------------------------------------------*/
/* skin_one
-----------------------------------------------------------------------------------------------------------*/
/*header*/
#data-theme-skin_one .ui-bar-a {
	background: #fa6f57;
	border: 1px #fa6f57 solid;
}
#data-theme-skin_one .ui-header {
	border-top: none;
	border-right: none;
	background: #fff;
	color: #000;
	text-shadow: 0 0px 0 #fff;
	border-left: none;
	border-bottom: 2px solid #fa6f57;
}
#data-theme-skin_one .ui-header-fixed {
	border-bottom: 2px solid #fa6f57;
}
/*content----------------*/
#data-theme-skin_one .ui-content {
	background: #fff;
	position: relative;
}
#data-theme-skin_one .ui-btn {
	background: #fa6f57;
	text-shadow: 0 0px 0 transparent;
	color: #FFF;
}
#data-theme-skin_one .ui-btn .ui-checkbox-on .ui-btn-a:after {
	background-color: #transparent;
	border-color: #FFF;
	color: #fff;
	text-shadow: 0 1px 0 transparent;
}
#data-theme-skin_one .ui-content .ui-btn-up-c {
	background: #fa6f57;
	border: 0;
	color: #fff;
	text-shadow: 0 0px 0 #fff;
}
#data-theme-skin_one .ui-content .ui-btn-hover-c {
	border: none;
	background: #fa6f57;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 0px 0 #fff;
}
#data-theme-skin_one .ui-listview-inset li .ui-btn-inner .ui-btn-text .ui-link-inherit {
	color: #fff;
}
#data-theme-skin_one .ui-btn-active {
	background: #fa6f57;
}
#data-theme-skin_one .ui-content .ui-shadow-inset {
	-webkit-box-shadow: none;
	box-shadow: none;
}
#data-theme-skin_one .ui-content .ui-shadow-inset {
	border: 1px solid #fa6f57;
}
#data-theme-skin_one .ui-focus, .ui-btn:focus {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#data-theme-skin_one .ui-checkbox-on .ui-icon, .ui-radio-on .ui-icon {
	background-color: rgba(255, 255, 255, 0);
}
#data-theme-skin_one .ui-popup-container .ui-bar-b {
	background: #fa6f57;
}
#data-theme-skin_one .ui-btn-icon-left .ui-li-count, #data-theme-skin_one .ui-btn-icon-right .ui-li-count {
	border: 1px solid #ccc;
	color: #666;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #fff /*{c-bup-background-start}*/), to( #f1f1f1 /*{c-bup-background-end}*/));
	background-image: -webkit-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	background-image: -moz-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	background-image: -ms-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	background-image: -o-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	background-image: linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
}
#data-theme-skin_one .ui-controlgroup-horizontal .ui-controlgroup-controls a {
	border-right: 1px solid #fff;
	font-weight: normal;
}
#data-theme-skin_one .ui-selectmenu .ui-header .ui-title {
	padding-top: 8px;
}
#data-theme-skin_one .ui-btn-corner-all #select-choice-mini option {
	padding: 5px 0;
}
#data-theme-skin_one .ui-btn-corner-all #select-native-fc option {
	padding: 5px 0;
}
#data-theme-skin_one .ui-listview, .ui-listview {
	margin: 0px!important;
}
.ui-collapsible-collapsed {
	margin-top: 10px;
}
#data-theme-skin_one .ui-listview .ui-li-has-count .ui-li .ui-btn-text a {
	color: #FFF;
	text-shadow: 0 0px 0 #fff;
	font-weight: normal;
}
#data-theme-skin_one .ui-collapsible-inset .ui-collapsible-content ul .ui-li-has-arrow {
	background: #fa6f57;
}
#data-theme-skin_one .ui-btn-text {
	font-weight: normal;
}
#data-theme-skin_one .ui-collapsible-inset .ui-collapsible-content .ui-listview .ui-li-has-arrow .ui-link-inherit {
	color: #FFF;
	text-shadow: none;
}
/*-----------------------------------------*/

#data-theme-skin_one #page .ui-footer .ui-navbar {
	border-top: 1px solid #fa6f57;
}
/*-------------------------------------------*/

/*nav*/

#data-theme-skin_one .ui-footer .ui-btn-inner {
	padding-top: 1em;
	padding-bottom: 1em;
}
#data-theme-skin_one .ui-btn-up-a {
	background: #fff;
	border-left: 1px solid #fff;
	color: #757575;
}
#data-theme-skin_one li .ui-btn-active {
	background: #fa6f57;
	color: #525252;
}
#data-theme-skin_one .ui-footer .ui-navbar .ui-grid-b .ui-btn-inline span {
	border-top: none;
}
#data-theme-skin_one .ui-footer {
	border-bottom: none;
	background: #fff;
	border-color: #fa5a57;
}
/*---------------------------------------------------------------------------------------------------------*/
/* skin_two
-----------------------------------------------------------------------------------------------------------*/
/*header*/
#data-theme-skin_two .ui-bar-a {
	background: #4fc1e9;
	border: 1px #4fc1e9 solid;
}
#data-theme-skin_two .ui-header {
	border-top: none;
	border-right: none;
	background: #fff;
	color: #000;
	text-shadow: 0 0px 0 #fff;
	border-left: none;
	border-bottom: 2px solid #4fc1e9;
}
#data-theme-skin_two .ui-header-fixed {
	border-bottom: 2px solid #4fc1e9;
}
/*content----------------*/
#data-theme-skin_two .ui-content {
	background: #fff;
	position: relative;
}
#data-theme-skin_two .ui-btn {
	background: #4fc1e9;
	text-shadow: 0 0px 0 transparent;
	color: #FFF;
}
#data-theme-skin_two .ui-btn .ui-checkbox-on .ui-btn-a:after {
	background-color: #transparent;
	border-color: #FFF;
	color: #fff;
	text-shadow: 0 1px 0 transparent;
}
#data-theme-skin_two .ui-content .ui-btn-up-c {
	background: #4fc1e9;
	border: 0;
	color: #fff;
	text-shadow: 0 0px 0 #fff;
}
#data-theme-skin_two .ui-content .ui-btn-hover-c {
	border: none;
	background: #4fc1e9;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 0px 0 #fff;
}
#data-theme-skin_two .ui-listview-inset li .ui-btn-inner .ui-btn-text .ui-link-inherit {
	color: #fff;
}
#data-theme-skin_two .ui-btn-active {
	background: #4fc1e9;
}
#data-theme-skin_two .ui-content .ui-shadow-inset {
	-webkit-box-shadow: none;
	box-shadow: none;
}
#data-theme-skin_two .ui-content .ui-shadow-inset {
	border: 1px solid #4fc1e9;
}
#data-theme-skin_two .ui-focus, .ui-btn:focus {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#data-theme-skin_two .ui-checkbox-on .ui-icon, .ui-radio-on .ui-icon {
	background-color: rgba(255, 255, 255, 0);
}
#data-theme-skin_two .ui-popup-container .ui-bar-b {
	background: #4fc1e9;
}
#data-theme-skin_two .ui-btn-icon-left .ui-li-count, #data-theme-skin_two .ui-btn-icon-right .ui-li-count {
	border: 1px solid #ccc;
	color: #666;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #fff /*{c-bup-background-start}*/), to( #f1f1f1 /*{c-bup-background-end}*/));
	background-image: -webkit-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	background-image: -moz-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	background-image: -ms-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	background-image: -o-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	background-image: linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
}
#data-theme-skin_two .ui-controlgroup-horizontal .ui-controlgroup-controls a {
	border-right: 1px solid #fff;
	font-weight: normal;
}
#data-theme-skin_two .ui-selectmenu .ui-header .ui-title {
	padding-top: 8px;
}
#data-theme-skin_two .ui-btn-corner-all #select-choice-mini option {
	padding: 5px 0;
}
#data-theme-skin_two .ui-btn-corner-all #select-native-fc option {
	padding: 5px 0;
}
#data-theme-skin_two .ui-listview, .ui-listview {
	margin: 0px!important;
}
.ui-collapsible-collapsed {
	margin-top: 10px;
}
#data-theme-skin_two .ui-listview .ui-li-has-count .ui-li .ui-btn-text a {
	color: #FFF;
	text-shadow: 0 0px 0 #fff;
	font-weight: normal;
}
#data-theme-skin_two .ui-collapsible-inset .ui-collapsible-content ul .ui-li-has-arrow {
	background: #4fc1e9;
}
#data-theme-skin_two .ui-btn-text {
	font-weight: normal;
}
#data-theme-skin_two .ui-collapsible-inset .ui-collapsible-content .ui-listview .ui-li-has-arrow .ui-link-inherit {
	color: #FFF;
	text-shadow: none;
}
/*-----------------------------------------*/

#data-theme-skin_two #page .ui-footer .ui-navbar {
	border-top: 1px solid #4fc1e9;
}
/*-------------------------------------------*/

/*nav*/

#data-theme-skin_two .ui-footer .ui-btn-inner {
	padding-top: 1em;
	padding-bottom: 1em;
}
#data-theme-skin_two .ui-btn-up-a {
	background: #fff;
	border-left: 1px solid #fff;
	color: #757575;
}
#data-theme-skin_two li .ui-btn-active {
	background: #4fc1e9;
	color: #525252;
}
#data-theme-skin_two .ui-footer .ui-navbar .ui-grid-b .ui-btn-inline span {
	border-top: none;
}
#data-theme-skin_two .ui-footer {
	border-bottom: none;
	background: #fff;
	border-color: #4fc1e9;
}
/*---------------------------------------------------------------------------------------------------------*/
/* skin_three
-----------------------------------------------------------------------------------------------------------*/
/*header*/
#data-theme-skin_three .ui-bar-a {
	background: #29c8aa;
	border: 1px #29c8aa solid;
}
#data-theme-skin_three .ui-header {
	border-top: none;
	border-right: none;
	background: #fff;
	color: #000;
	text-shadow: 0 0px 0 #fff;
	border-left: none;
	border-bottom: 2px solid #29c8aa;
}
#data-theme-skin_three .ui-header-fixed {
	border-bottom: 2px solid #29c8aa;
}
/*content----------------*/
#data-theme-skin_three .ui-content {
	background: #fff;
	position: relative;
}
#data-theme-skin_three .ui-btn {
	background: #29c8aa;
	text-shadow: 0 0px 0 transparent;
	color: #FFF;
}
#data-theme-skin_three .ui-btn .ui-checkbox-on .ui-btn-a:after {
	background-color: #transparent;
	border-color: #FFF;
	color: #fff;
	text-shadow: 0 1px 0 transparent;
}
#data-theme-skin_three .ui-content .ui-btn-up-c {
	background: #29c8aa;
	border: 0;
	color: #fff;
	text-shadow: 0 0px 0 #fff;
}
#data-theme-skin_three .ui-content .ui-btn-hover-c {
	border: none;
	background: #29c8aa;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 0px 0 #fff;
}
#data-theme-skin_three .ui-listview-inset li .ui-btn-inner .ui-btn-text .ui-link-inherit {
	color: #fff;
}
#data-theme-skin_three .ui-btn-active {
	background: #29c8aa;
}
#data-theme-skin_three .ui-content .ui-shadow-inset {
	-webkit-box-shadow: none;
	box-shadow: none;
}
#data-theme-skin_three .ui-content .ui-shadow-inset {
	border: 1px solid #29c8aa;
}
#data-theme-skin_three .ui-focus, .ui-btn:focus {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#data-theme-skin_three .ui-checkbox-on .ui-icon, .ui-radio-on .ui-icon {
	background-color: rgba(255, 255, 255, 0);
}
#data-theme-skin_three .ui-popup-container .ui-bar-b {
	background: #29c8aa;
}
#data-theme-skin_three .ui-btn-icon-left .ui-li-count, #data-theme-skin_three .ui-btn-icon-right .ui-li-count {
	border: 1px solid #ccc;
	color: #666;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #fff /*{c-bup-background-start}*/), to( #f1f1f1 /*{c-bup-background-end}*/));
	background-image: -webkit-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	background-image: -moz-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	background-image: -ms-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	background-image: -o-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	background-image: linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
}
#data-theme-skin_three .ui-controlgroup-horizontal .ui-controlgroup-controls a {
	border-right: 1px solid #fff;
	font-weight: normal;
}
#data-theme-skin_three .ui-selectmenu .ui-header .ui-title {
	padding-top: 8px;
}
#data-theme-skin_three .ui-btn-corner-all #select-choice-mini option {
	padding: 5px 0;
}
#data-theme-skin_three .ui-btn-corner-all #select-native-fc option {
	padding: 5px 0;
}
#data-theme-skin_three .ui-listview, .ui-listview {
	margin: 0px!important;
}
.ui-collapsible-collapsed {
	margin-top: 10px;
}
#data-theme-skin_three .ui-listview .ui-li-has-count .ui-li .ui-btn-text a {
	color: #FFF;
	text-shadow: 0 0px 0 #fff;
	font-weight: normal;
}
#data-theme-skin_three .ui-collapsible-inset .ui-collapsible-content ul .ui-li-has-arrow {
	background: #29c8aa;
}
#data-theme-skin_three .ui-btn-text {
	font-weight: normal;
}
#data-theme-skin_three .ui-collapsible-inset .ui-collapsible-content .ui-listview .ui-li-has-arrow .ui-link-inherit {
	color: #FFF;
	text-shadow: none;
}
/*-----------------------------------------*/

#data-theme-skin_three #page .ui-footer .ui-navbar {
	border-top: 1px solid #29c8aa;
}
/*-------------------------------------------*/

/*nav*/

#data-theme-skin_three .ui-footer .ui-btn-inner {
	padding-top: 1em;
	padding-bottom: 1em;
}
#data-theme-skin_three .ui-btn-up-a {
	background: #fff;
	border-left: 1px solid #fff;
	color: #757575;
}
#data-theme-skin_three li .ui-btn-active {
	background: #29c8aa;
	color: #525252;
}
#data-theme-skin_three .ui-footer .ui-navbar .ui-grid-b .ui-btn-inline span {
	border-top: none;
}
#data-theme-skin_three .ui-footer {
	border-bottom: none;
	background: #fff;
	border-color: #29c8aa;
}
/*---------------------------------------------------------------------------------------------------------*/
/* skin_four
-----------------------------------------------------------------------------------------------------------*/
/*header*/
#data-theme-skin_four .ui-bar-a {
	background: #8E44AD;
	border: 1px #8E44AD solid;
}
#data-theme-skin_four .ui-header {
	border-top: none;
	border-right: none;
	background: #fff;
	color: #000;
	text-shadow: 0 0px 0 #fff;
	border-left: none;
	border-bottom: 2px solid #8E44AD;
}
#data-theme-skin_four .ui-header-fixed {
	border-bottom: 2px solid #8E44AD;
}
/*content----------------*/
#data-theme-skin_four .ui-content {
	background: #fff;
	position: relative;
}
#data-theme-skin_four .ui-btn {
	background: #8E44AD;
	text-shadow: 0 0px 0 transparent;
	color: #FFF;
}
#data-theme-skin_four .ui-btn .ui-checkbox-on .ui-btn-a:after {
	background-color: #transparent;
	border-color: #FFF;
	color: #fff;
	text-shadow: 0 1px 0 transparent;
}
#data-theme-skin_four .ui-content .ui-btn-up-c {
	background: #8E44AD;
	border: 0;
	color: #fff;
	text-shadow: 0 0px 0 #fff;
}
#data-theme-skin_four .ui-content .ui-btn-hover-c {
	border: none;
	background: #8E44AD;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 0px 0 #fff;
}
#data-theme-skin_four .ui-listview-inset li .ui-btn-inner .ui-btn-text .ui-link-inherit {
	color: #fff;
}
#data-theme-skin_four .ui-btn-active {
	background: #8E44AD;
}
#data-theme-skin_four .ui-content .ui-shadow-inset {
	-webkit-box-shadow: none;
	box-shadow: none;
}
#data-theme-skin_four .ui-content .ui-shadow-inset {
	border: 1px solid #8E44AD;
}
#data-theme-skin_four .ui-focus, .ui-btn:focus {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#data-theme-skin_four .ui-checkbox-on .ui-icon, .ui-radio-on .ui-icon {
	background-color: rgba(255, 255, 255, 0);
}
#data-theme-skin_four .ui-popup-container .ui-bar-b {
	background: #8E44AD;
}
#data-theme-skin_four .ui-btn-icon-left .ui-li-count, #data-theme-skin_four .ui-btn-icon-right .ui-li-count {
	border: 1px solid #ccc;
	color: #666;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #fff /*{c-bup-background-start}*/), to( #f1f1f1 /*{c-bup-background-end}*/));
	background-image: -webkit-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	background-image: -moz-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	background-image: -ms-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	background-image: -o-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	background-image: linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
}
#data-theme-skin_four .ui-controlgroup-horizontal .ui-controlgroup-controls a {
	border-right: 1px solid #fff;
	font-weight: normal;
}
#data-theme-skin_four .ui-selectmenu .ui-header .ui-title {
	padding-top: 8px;
}
#data-theme-skin_four .ui-btn-corner-all #select-choice-mini option {
	padding: 5px 0;
}
#data-theme-skin_four .ui-btn-corner-all #select-native-fc option {
	padding: 5px 0;
}
#data-theme-skin_four .ui-listview, .ui-listview {
	margin: 0px!important;
}
.ui-collapsible-collapsed {
	margin-top: 10px;
}
#data-theme-skin_four .ui-listview .ui-li-has-count .ui-li .ui-btn-text a {
	color: #FFF;
	text-shadow: 0 0px 0 #fff;
	font-weight: normal;
}
#data-theme-skin_four .ui-collapsible-inset .ui-collapsible-content ul .ui-li-has-arrow {
	background: #8E44AD;
}
#data-theme-skin_four .ui-btn-text {
	font-weight: normal;
}
#data-theme-skin_four .ui-collapsible-inset .ui-collapsible-content .ui-listview .ui-li-has-arrow .ui-link-inherit {
	color: #FFF;
	text-shadow: none;
}
/*-----------------------------------------*/

#data-theme-skin_four #page .ui-footer .ui-navbar {
	border-top: 1px solid #8E44AD;
}
/*-------------------------------------------*/

/*nav*/

#data-theme-skin_four .ui-footer .ui-btn-inner {
	padding-top: 1em;
	padding-bottom: 1em;
}
#data-theme-skin_four .ui-btn-up-a {
	background: #fff;
	border-left: 1px solid #fff;
	color: #757575;
}
#data-theme-skin_four li .ui-btn-active {
	background: #8E44AD;
	color: #525252;
}
#data-theme-skin_four .ui-footer .ui-navbar .ui-grid-b .ui-btn-inline span {
	border-top: none;
}
#data-theme-skin_four .ui-footer {
	border-bottom: none;
	background: #fff;
	border-color: #8E44AD;
}
/*---------------------------------------------------------------------------------------------------------*/
/* skin_five
-----------------------------------------------------------------------------------------------------------*/
/*header*/
#data-theme-skin_five .ui-bar-a {
	background: #ff9966;
	border: 1px #ff9966 solid;
}
#data-theme-skin_five .ui-header {
	border-top: none;
	border-right: none;
	background: #fff;
	color: #000;
	text-shadow: 0 0px 0 #fff;
	border-left: none;
	border-bottom: 2px solid #ff9966;
}
#data-theme-skin_five .ui-header-fixed {
	border-bottom: 2px solid #ff9966;
}
/*content----------------*/
#data-theme-skin_five .ui-content {
	background: #fff;
	position: relative;
}
#data-theme-skin_five .ui-btn {
	background: #ff9966;
	text-shadow: 0 0px 0 transparent;
	color: #FFF;
}
#data-theme-skin_five .ui-btn .ui-checkbox-on .ui-btn-a:after {
	background-color: #transparent;
	border-color: #FFF;
	color: #fff;
	text-shadow: 0 1px 0 transparent;
}
#data-theme-skin_five .ui-content .ui-btn-up-c {
	background: #ff9966;
	border: 0;
	color: #fff;
	text-shadow: 0 0px 0 #fff;
}
#data-theme-skin_five .ui-content .ui-btn-hover-c {
	border: none;
	background: #ff9966;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 0px 0 #fff;
}
#data-theme-skin_five .ui-listview-inset li .ui-btn-inner .ui-btn-text .ui-link-inherit {
	color: #fff;
}
#data-theme-skin_five .ui-btn-active {
	background: #ff9966;
}
#data-theme-skin_five .ui-content .ui-shadow-inset {
	-webkit-box-shadow: none;
	box-shadow: none;
}
#data-theme-skin_five .ui-content .ui-shadow-inset {
	border: 1px solid #ff9966;
}
#data-theme-skin_five .ui-focus, .ui-btn:focus {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#data-theme-skin_five .ui-checkbox-on .ui-icon, .ui-radio-on .ui-icon {
	background-color: rgba(255, 255, 255, 0);
}
#data-theme-skin_five .ui-popup-container .ui-bar-b {
	background: #ff9966;
}
#data-theme-skin_five .ui-btn-icon-left .ui-li-count, #data-theme-skin_five .ui-btn-icon-right .ui-li-count {
	border: 1px solid #ccc;
	color: #666;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #fff /*{c-bup-background-start}*/), to( #f1f1f1 /*{c-bup-background-end}*/));
	background-image: -webkit-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	background-image: -moz-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	background-image: -ms-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	background-image: -o-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	background-image: linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
}
#data-theme-skin_five .ui-controlgroup-horizontal .ui-controlgroup-controls a {
	border-right: 1px solid #fff;
	font-weight: normal;
}
#data-theme-skin_five .ui-selectmenu .ui-header .ui-title {
	padding-top: 8px;
}
#data-theme-skin_five .ui-btn-corner-all #select-choice-mini option {
	padding: 5px 0;
}
#data-theme-skin_five .ui-btn-corner-all #select-native-fc option {
	padding: 5px 0;
}
#data-theme-skin_five .ui-listview, .ui-listview {
	margin: 0px!important;
}
.ui-collapsible-collapsed {
	margin-top: 10px;
}
#data-theme-skin_five .ui-listview .ui-li-has-count .ui-li .ui-btn-text a {
	color: #FFF;
	text-shadow: 0 0px 0 #fff;
	font-weight: normal;
}
#data-theme-skin_five .ui-collapsible-inset .ui-collapsible-content ul .ui-li-has-arrow {
	background: #ff9966;
}
#data-theme-skin_five .ui-btn-text {
	font-weight: normal;
}
#data-theme-skin_five .ui-collapsible-inset .ui-collapsible-content .ui-listview .ui-li-has-arrow .ui-link-inherit {
	color: #FFF;
	text-shadow: none;
}
/*-----------------------------------------*/

#data-theme-skin_five #page .ui-footer .ui-navbar {
	border-top: 1px solid #ff9966;
}
/*-------------------------------------------*/

/*nav*/

#data-theme-skin_five .ui-footer .ui-btn-inner {
	padding-top: 1em;
	padding-bottom: 1em;
}
#data-theme-skin_five .ui-btn-up-a {
	background: #fff;
	border-left: 1px solid #fff;
	color: #757575;
}
#data-theme-skin_five li .ui-btn-active {
	background: #ff9966;
	color: #525252;
}
#data-theme-skin_five .ui-footer .ui-navbar .ui-grid-b .ui-btn-inline span {
	border-top: none;
}
#data-theme-skin_five .ui-footer {
	border-bottom: none;
	background: #fff;
	border-color: #ff9966;
}
/*---------------------------------------------------------------------------------------------------------*/
/* skin_six
-----------------------------------------------------------------------------------------------------------*/
/*header*/
#data-theme-skin_six .ui-bar-a {
	background: #B8B800;
	border: 1px #B8B800 solid;
}
#data-theme-skin_six .ui-header {
	border-top: none;
	border-right: none;
	background: #fff;
	color: #000;
	text-shadow: 0 0px 0 #fff;
	border-left: none;
	border-bottom: 2px solid #B8B800;
}
#data-theme-skin_six .ui-header-fixed {
	border-bottom: 2px solid #B8B800;
}
/*content----------------*/
#data-theme-skin_six .ui-content {
	background: #fff;
	position: relative;
}
#data-theme-skin_six .ui-btn {
	background: #B8B800;
	text-shadow: 0 0px 0 transparent;
	color: #FFF;
}
#data-theme-skin_six .ui-btn .ui-checkbox-on .ui-btn-a:after {
	background-color: #transparent;
	border-color: #FFF;
	color: #fff;
	text-shadow: 0 1px 0 transparent;
}
#data-theme-skin_six .ui-content .ui-btn-up-c {
	background: #B8B800;
	border: 0;
	color: #fff;
	text-shadow: 0 0px 0 #fff;
}
#data-theme-skin_six .ui-content .ui-btn-hover-c {
	border: none;
	background: #B8B800;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 0px 0 #fff;
}
#data-theme-skin_six .ui-listview-inset li .ui-btn-inner .ui-btn-text .ui-link-inherit {
	color: #fff;
}
#data-theme-skin_six .ui-btn-active {
	background: #B8B800;
}
#data-theme-skin_six .ui-content .ui-shadow-inset {
	-webkit-box-shadow: none;
	box-shadow: none;
}
#data-theme-skin_six .ui-content .ui-shadow-inset {
	border: 1px solid #B8B800;
}
#data-theme-skin_six .ui-focus, .ui-btn:focus {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#data-theme-skin_six .ui-checkbox-on .ui-icon, .ui-radio-on .ui-icon {
	background-color: rgba(255, 255, 255, 0);
}
#data-theme-skin_six .ui-popup-container .ui-bar-b {
	background: #B8B800;
}
#data-theme-skin_six .ui-btn-icon-left .ui-li-count, #data-theme-skin_six .ui-btn-icon-right .ui-li-count {
	border: 1px solid #ccc;
	color: #666;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #fff /*{c-bup-background-start}*/), to( #f1f1f1 /*{c-bup-background-end}*/));
	background-image: -webkit-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	background-image: -moz-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	background-image: -ms-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	background-image: -o-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	background-image: linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
}
#data-theme-skin_six .ui-controlgroup-horizontal .ui-controlgroup-controls a {
	border-right: 1px solid #fff;
	font-weight: normal;
}
#data-theme-skin_six .ui-selectmenu .ui-header .ui-title {
	padding-top: 8px;
}
#data-theme-skin_six .ui-btn-corner-all #select-choice-mini option {
	padding: 5px 0;
}
#data-theme-skin_six .ui-btn-corner-all #select-native-fc option {
	padding: 5px 0;
}
#data-theme-skin_six .ui-listview, .ui-listview {
	margin: 0px!important;
}
.ui-collapsible-collapsed {
	margin-top: 10px;
}
#data-theme-skin_six .ui-listview .ui-li-has-count .ui-li .ui-btn-text a {
	color: #FFF;
	text-shadow: 0 0px 0 #fff;
	font-weight: normal;
}
#data-theme-skin_six .ui-collapsible-inset .ui-collapsible-content ul .ui-li-has-arrow {
	background: #B8B800;
}
#data-theme-skin_six .ui-btn-text {
	font-weight: normal;
}
#data-theme-skin_six .ui-collapsible-inset .ui-collapsible-content .ui-listview .ui-li-has-arrow .ui-link-inherit {
	color: #FFF;
	text-shadow: none;
}
/*-----------------------------------------*/

#data-theme-skin_six #page .ui-footer .ui-navbar {
	border-top: 1px solid #B8B800;
}
/*-------------------------------------------*/

/*nav*/

#data-theme-skin_six .ui-footer .ui-btn-inner {
	padding-top: 1em;
	padding-bottom: 1em;
}
#data-theme-skin_six .ui-btn-up-a {
	background: #fff;
	border-left: 1px solid #fff;
	color: #757575;
}
#data-theme-skin_six li .ui-btn-active {
	background: #B8B800;
	color: #525252;
}
#data-theme-skin_six .ui-footer .ui-navbar .ui-grid-b .ui-btn-inline span {
	border-top: none;
}
#data-theme-skin_six .ui-footer {
	border-bottom: none;
	background: #fff;
	border-color: #B8B800;
}
/*---------------------------------------------------------------------------------------------------------*/
/* skin_seven
-----------------------------------------------------------------------------------------------------------*/
/*header*/
#data-theme-skin_seven .ui-bar-a {
	background: #34495e;
	border: 1px #34495e solid;
}
#data-theme-skin_seven .ui-header {
	border-top: none;
	border-right: none;
	background: #fff;
	color: #000;
	text-shadow: 0 0px 0 #fff;
	border-left: none;
	border-bottom: 2px solid #34495e;
}
#data-theme-skin_seven .ui-header-fixed {
	border-bottom: 2px solid #34495e;
}
/*content----------------*/
#data-theme-skin_seven .ui-content {
	background: #fff;
	position: relative;
}
#data-theme-skin_seven .ui-btn {
	background: #34495e;
	text-shadow: 0 0px 0 transparent;
	color: #FFF;
}
#data-theme-skin_seven .ui-btn .ui-checkbox-on .ui-btn-a:after {
	background-color: #transparent;
	border-color: #FFF;
	color: #fff;
	text-shadow: 0 1px 0 transparent;
}
#data-theme-skin_seven .ui-content .ui-btn-up-c {
	background: #34495e;
	border: 0;
	color: #fff;
	text-shadow: 0 0px 0 #fff;
}
#data-theme-skin_seven .ui-content .ui-btn-hover-c {
	border: none;
	background: #34495e;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 0px 0 #fff;
}
#data-theme-skin_seven .ui-listview-inset li .ui-btn-inner .ui-btn-text .ui-link-inherit {
	color: #fff;
}
#data-theme-skin_seven .ui-btn-active {
	background: #34495e;
}
#data-theme-skin_seven .ui-content .ui-shadow-inset {
	-webkit-box-shadow: none;
	box-shadow: none;
}
#data-theme-skin_seven .ui-content .ui-shadow-inset {
	border: 1px solid #34495e;
}
#data-theme-skin_seven .ui-focus, .ui-btn:focus {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#data-theme-skin_seven .ui-checkbox-on .ui-icon, .ui-radio-on .ui-icon {
	background-color: rgba(255, 255, 255, 0);
}
#data-theme-skin_seven .ui-popup-container .ui-bar-b {
	background: #34495e;
}
#data-theme-skin_seven .ui-btn-icon-left .ui-li-count, #data-theme-skin_seven .ui-btn-icon-right .ui-li-count {
	border: 1px solid #ccc;
	color: #666;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #fff /*{c-bup-background-start}*/), to( #f1f1f1 /*{c-bup-background-end}*/));
	background-image: -webkit-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	background-image: -moz-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	background-image: -ms-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	background-image: -o-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	background-image: linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
}
#data-theme-skin_seven .ui-controlgroup-horizontal .ui-controlgroup-controls a {
	border-right: 1px solid #fff;
	font-weight: normal;
}
#data-theme-skin_seven .ui-selectmenu .ui-header .ui-title {
	padding-top: 8px;
}
#data-theme-skin_seven .ui-btn-corner-all #select-choice-mini option {
	padding: 5px 0;
}
#data-theme-skin_seven .ui-btn-corner-all #select-native-fc option {
	padding: 5px 0;
}
#data-theme-skin_seven .ui-listview, .ui-listview {
	margin: 0px!important;
}
.ui-collapsible-collapsed {
	margin-top: 10px;
}
#data-theme-skin_seven .ui-listview .ui-li-has-count .ui-li .ui-btn-text a {
	color: #FFF;
	text-shadow: 0 0px 0 #fff;
	font-weight: normal;
}
#data-theme-skin_seven .ui-collapsible-inset .ui-collapsible-content ul .ui-li-has-arrow {
	background: #34495e;
}
#data-theme-skin_seven .ui-btn-text {
	font-weight: normal;
}
#data-theme-skin_seven .ui-collapsible-inset .ui-collapsible-content .ui-listview .ui-li-has-arrow .ui-link-inherit {
	color: #FFF;
	text-shadow: none;
}
/*-----------------------------------------*/

#data-theme-skin_seven #page .ui-footer .ui-navbar {
	border-top: 1px solid #34495e;
}
/*-------------------------------------------*/

/*nav*/

#data-theme-skin_seven .ui-footer .ui-btn-inner {
	padding-top: 1em;
	padding-bottom: 1em;
}
#data-theme-skin_seven .ui-btn-up-a {
	background: #fff;
	border-left: 1px solid #fff;
	color: #757575;
}
#data-theme-skin_seven li .ui-btn-active {
	background: #34495e;
	color: #525252;
}
#data-theme-skin_seven .ui-footer .ui-navbar .ui-grid-b .ui-btn-inline span {
	border-top: none;
}
#data-theme-skin_seven .ui-footer {
	border-bottom: none;
	background: #fff;
	border-color: #34495e;
}
/*---------------------------------------------------------------------------------------------------------*/
/* skin_eight
-----------------------------------------------------------------------------------------------------------*/
/*header*/
#data-theme-skin_eight .ui-bar-a {
	background: #bdc3c7;
	border: 1px #bdc3c7 solid;
}
#data-theme-skin_eight .ui-header {
	border-top: none;
	border-right: none;
	background: #fff;
	color: #000;
	text-shadow: 0 0px 0 #fff;
	border-left: none;
	border-bottom: 2px solid #bdc3c7;
}
#data-theme-skin_eight .ui-header-fixed {
	border-bottom: 2px solid #bdc3c7;
}
/*content----------------*/
#data-theme-skin_eight .ui-content {
	background: #fff;
	position: relative;
}
#data-theme-skin_eight .ui-btn {
	background: #bdc3c7;
	text-shadow: 0 0px 0 transparent;
	color: #FFF;
}
#data-theme-skin_eight .ui-btn .ui-checkbox-on .ui-btn-a:after {
	background-color: #transparent;
	border-color: #FFF;
	color: #fff;
	text-shadow: 0 1px 0 transparent;
}
#data-theme-skin_eight .ui-content .ui-btn-up-c {
	background: #bdc3c7;
	border: 0;
	color: #fff;
	text-shadow: 0 0px 0 #fff;
}
#data-theme-skin_eight .ui-content .ui-btn-hover-c {
	border: none;
	background: #bdc3c7;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 0px 0 #fff;
}
#data-theme-skin_eight .ui-listview-inset li .ui-btn-inner .ui-btn-text .ui-link-inherit {
	color: #fff;
}
#data-theme-skin_eight .ui-btn-active {
	background: #bdc3c7;
}
#data-theme-skin_eight .ui-content .ui-shadow-inset {
	-webkit-box-shadow: none;
	box-shadow: none;
}
#data-theme-skin_eight .ui-content .ui-shadow-inset {
	border: 1px solid #bdc3c7;
}
#data-theme-skin_eight .ui-focus, .ui-btn:focus {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#data-theme-skin_eight .ui-checkbox-on .ui-icon, .ui-radio-on .ui-icon {
	background-color: rgba(255, 255, 255, 0);
}
#data-theme-skin_eight .ui-popup-container .ui-bar-b {
	background: #bdc3c7;
}
#data-theme-skin_eight .ui-btn-icon-left .ui-li-count, #data-theme-skin_eight .ui-btn-icon-right .ui-li-count {
	border: 1px solid #ccc;
	color: #666;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #fff /*{c-bup-background-start}*/), to( #f1f1f1 /*{c-bup-background-end}*/));
	background-image: -webkit-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	background-image: -moz-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	background-image: -ms-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	background-image: -o-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	background-image: linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
}
#data-theme-skin_eight .ui-controlgroup-horizontal .ui-controlgroup-controls a {
	border-right: 1px solid #fff;
	font-weight: normal;
}
#data-theme-skin_eight .ui-selectmenu .ui-header .ui-title {
	padding-top: 8px;
}
#data-theme-skin_eight .ui-btn-corner-all #select-choice-mini option {
	padding: 5px 0;
}
#data-theme-skin_eight .ui-btn-corner-all #select-native-fc option {
	padding: 5px 0;
}
#data-theme-skin_eight .ui-listview, .ui-listview {
	margin: 0px!important;
}
.ui-collapsible-collapsed {
	margin-top: 10px;
}
#data-theme-skin_eight .ui-listview .ui-li-has-count .ui-li .ui-btn-text a {
	color: #FFF;
	text-shadow: 0 0px 0 #fff;
	font-weight: normal;
}
#data-theme-skin_eight .ui-collapsible-inset .ui-collapsible-content ul .ui-li-has-arrow {
	background: #bdc3c7;
}
#data-theme-skin_eight .ui-btn-text {
	font-weight: normal;
}
#data-theme-skin_eight .ui-collapsible-inset .ui-collapsible-content .ui-listview .ui-li-has-arrow .ui-link-inherit {
	color: #FFF;
	text-shadow: none;
}
/*-----------------------------------------*/

#data-theme-skin_eight #page .ui-footer .ui-navbar {
	border-top: 1px solid #bdc3c7;
}
/*-------------------------------------------*/

/*nav*/

#data-theme-skin_eight .ui-footer .ui-btn-inner {
	padding-top: 1em;
	padding-bottom: 1em;
}
#data-theme-skin_eight .ui-btn-up-a {
	background: #fff;
	border-left: 1px solid #fff;
	color: #757575;
}
#data-theme-skin_eight li .ui-btn-active {
	background: #bdc3c7;
	color: #525252;
}
#data-theme-skin_eight .ui-footer .ui-navbar .ui-grid-b .ui-btn-inline span {
	border-top: none;
}
#data-theme-skin_eight .ui-footer {
	border-bottom: none;
	background: #fff;
	border-color: #bdc3c7;
}
/*---------------------------------------------------------------------------------------------------------*/
/* skin_nine
-----------------------------------------------------------------------------------------------------------*/
/*header*/
#data-theme-skin_nine .ui-bar-a {
	background: #006699;
	border: 1px #006699 solid;
}
#data-theme-skin_nine .ui-header {
	border-top: none;
	border-right: none;
	background: #fff;
	color: #000;
	text-shadow: 0 0px 0 #fff;
	border-left: none;
	border-bottom: 2px solid #006699;
}
#data-theme-skin_nine .ui-header-fixed {
	border-bottom: 2px solid #006699;
}
/*content----------------*/
#data-theme-skin_nine .ui-content {
	background: #fff;
	position: relative;
}
#data-theme-skin_nine .ui-btn {
	background: #006699;
	text-shadow: 0 0px 0 transparent;
	color: #FFF;
}
#data-theme-skin_nine .ui-btn .ui-checkbox-on .ui-btn-a:after {
	background-color: #transparent;
	border-color: #FFF;
	color: #fff;
	text-shadow: 0 1px 0 transparent;
}
#data-theme-skin_nine .ui-content .ui-btn-up-c {
	background: #006699;
	border: 0;
	color: #fff;
	text-shadow: 0 0px 0 #fff;
}
#data-theme-skin_nine .ui-content .ui-btn-hover-c {
	border: none;
	background: #006699;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 0px 0 #fff;
}
#data-theme-skin_nine .ui-listview-inset li .ui-btn-inner .ui-btn-text .ui-link-inherit {
	color: #fff;
}
#data-theme-skin_nine .ui-btn-active {
	background: #006699;
}
#data-theme-skin_nine .ui-content .ui-shadow-inset {
	-webkit-box-shadow: none;
	box-shadow: none;
}
#data-theme-skin_nine .ui-content .ui-shadow-inset {
	border: 1px solid #006699;
}
#data-theme-skin_nine .ui-focus, .ui-btn:focus {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#data-theme-skin_nine .ui-checkbox-on .ui-icon, .ui-radio-on .ui-icon {
	background-color: rgba(255, 255, 255, 0);
}
#data-theme-skin_nine .ui-popup-container .ui-bar-b {
	background: #006699;
}
#data-theme-skin_nine .ui-btn-icon-left .ui-li-count, #data-theme-skin_nine .ui-btn-icon-right .ui-li-count {
	border: 1px solid #ccc;
	color: #666;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #fff /*{c-bup-background-start}*/), to( #f1f1f1 /*{c-bup-background-end}*/));
	background-image: -webkit-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	background-image: -moz-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	background-image: -ms-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	background-image: -o-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	background-image: linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
}
#data-theme-skin_nine .ui-controlgroup-horizontal .ui-controlgroup-controls a {
	border-right: 1px solid #fff;
	font-weight: normal;
}
#data-theme-skin_nine .ui-selectmenu .ui-header .ui-title {
	padding-top: 8px;
}
#data-theme-skin_nine .ui-btn-corner-all #select-choice-mini option {
	padding: 5px 0;
}
#data-theme-skin_nine .ui-btn-corner-all #select-native-fc option {
	padding: 5px 0;
}
#data-theme-skin_nine .ui-listview, .ui-listview {
	margin: 0px!important;
}
.ui-collapsible-collapsed {
	margin-top: 10px;
}
#data-theme-skin_nine .ui-listview .ui-li-has-count .ui-li .ui-btn-text a {
	color: #FFF;
	text-shadow: 0 0px 0 #fff;
	font-weight: normal;
}
#data-theme-skin_nine .ui-collapsible-inset .ui-collapsible-content ul .ui-li-has-arrow {
	background: #006699;
}
#data-theme-skin_nine .ui-btn-text {
	font-weight: normal;
}
#data-theme-skin_nine .ui-collapsible-inset .ui-collapsible-content .ui-listview .ui-li-has-arrow .ui-link-inherit {
	color: #FFF;
	text-shadow: none;
}
/*-----------------------------------------*/

#data-theme-skin_nine #page .ui-footer .ui-navbar {
	border-top: 1px solid #006699;
}
/*-------------------------------------------*/

/*nav*/

#data-theme-skin_nine .ui-footer .ui-btn-inner {
	padding-top: 1em;
	padding-bottom: 1em;
}
#data-theme-skin_nine .ui-btn-up-a {
	background: #fff;
	border-left: 1px solid #fff;
	color: #757575;
}
#data-theme-skin_nine li .ui-btn-active {
	background: #006699;
	color: #525252;
}
#data-theme-skin_nine .ui-footer .ui-navbar .ui-grid-b .ui-btn-inline span {
	border-top: none;
}
#data-theme-skin_nine .ui-footer {
	border-bottom: none;
	background: #fff;
	border-color: #006699;
}
/*---------------------------------------------------------------------------------------------------------*/
/* skin_ten
-----------------------------------------------------------------------------------------------------------*/
/*header*/
#data-theme-skin_ten .ui-bar-a {
	background: #99cc00;
	border: 1px #99cc00 solid;
}
#data-theme-skin_ten .ui-header {
	border-top: none;
	border-right: none;
	background: #fff;
	color: #000;
	text-shadow: 0 0px 0 #fff;
	border-left: none;
	border-bottom: 2px solid #99cc00;
}
#data-theme-skin_ten .ui-header-fixed {
	border-bottom: 2px solid #99cc00;
}
/*content----------------*/
#data-theme-skin_ten .ui-content {
	background: #fff;
	position: relative;
}
#data-theme-skin_ten .ui-btn {
	background: #99cc00;
	text-shadow: 0 0px 0 transparent;
	color: #FFF;
}
#data-theme-skin_ten .ui-btn .ui-checkbox-on .ui-btn-a:after {
	background-color: #transparent;
	border-color: #FFF;
	color: #fff;
	text-shadow: 0 1px 0 transparent;
}
#data-theme-skin_ten .ui-content .ui-btn-up-c {
	background: #99cc00;
	border: 0;
	color: #fff;
	text-shadow: 0 0px 0 #fff;
}
#data-theme-skin_ten .ui-content .ui-btn-hover-c {
	border: none;
	background: #99cc00;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 0px 0 #fff;
}
#data-theme-skin_ten .ui-listview-inset li .ui-btn-inner .ui-btn-text .ui-link-inherit {
	color: #fff;
}
#data-theme-skin_ten .ui-btn-active {
	background: #99cc00;
}
#data-theme-skin_ten .ui-content .ui-shadow-inset {
	-webkit-box-shadow: none;
	box-shadow: none;
}
#data-theme-skin_ten .ui-content .ui-shadow-inset {
	border: 1px solid #99cc00;
}
#data-theme-skin_ten .ui-focus, .ui-btn:focus {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#data-theme-skin_ten .ui-checkbox-on .ui-icon, .ui-radio-on .ui-icon {
	background-color: rgba(255, 255, 255, 0);
}
#data-theme-skin_ten .ui-popup-container .ui-bar-b {
	background: #99cc00;
}
#data-theme-skin_ten .ui-btn-icon-left .ui-li-count, #data-theme-skin_ten .ui-btn-icon-right .ui-li-count {
	border: 1px solid #ccc;
	color: #666;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #fff /*{c-bup-background-start}*/), to( #f1f1f1 /*{c-bup-background-end}*/));
	background-image: -webkit-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	background-image: -moz-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	background-image: -ms-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	background-image: -o-linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
	background-image: linear-gradient( #fff /*{c-bup-background-start}*/, #f1f1f1 /*{c-bup-background-end}*/);
}
#data-theme-skin_ten .ui-controlgroup-horizontal .ui-controlgroup-controls a {
	border-right: 1px solid #fff;
	font-weight: normal;
}
#data-theme-skin_ten .ui-selectmenu .ui-header .ui-title {
	padding-top: 8px;
}
#data-theme-skin_ten .ui-btn-corner-all #select-choice-mini option {
	padding: 5px 0;
}
#data-theme-skin_ten .ui-btn-corner-all #select-native-fc option {
	padding: 5px 0;
}
#data-theme-skin_ten .ui-listview, .ui-listview {
	margin: 0px!important;
}
.ui-collapsible-collapsed {
	margin-top: 10px;
}
#data-theme-skin_ten .ui-listview .ui-li-has-count .ui-li .ui-btn-text a {
	color: #FFF;
	text-shadow: 0 0px 0 #fff;
	font-weight: normal;
}
#data-theme-skin_ten .ui-collapsible-inset .ui-collapsible-content ul .ui-li-has-arrow {
	background: #99cc00;
}
#data-theme-skin_ten .ui-btn-text {
	font-weight: normal;
}
#data-theme-skin_ten .ui-collapsible-inset .ui-collapsible-content .ui-listview .ui-li-has-arrow .ui-link-inherit {
	color: #FFF;
	text-shadow: none;
}
/*-----------------------------------------*/

#data-theme-skin_ten #page .ui-footer .ui-navbar {
	border-top: 1px solid #99cc00;
}
/*-------------------------------------------*/

/*nav*/

#data-theme-skin_ten .ui-footer .ui-btn-inner {
	padding-top: 1em;
	padding-bottom: 1em;
}
#data-theme-skin_ten .ui-btn-up-a {
	background: #fff;
	border-left: 1px solid #fff;
	color: #757575;
}
#data-theme-skin_ten li .ui-btn-active {
	background: #99cc00;
	color: #525252;
}
#data-theme-skin_ten .ui-footer .ui-navbar .ui-grid-b .ui-btn-inline span {
	border-top: none;
}
#data-theme-skin_ten .ui-footer {
	border-bottom: none;
	background: #fff;
	border-color: #99cc00;
}
/*---------------------------------------------------------------------------------------------------------*/
/*----------------下拉加载内--------------容*/
/*---------------------------------------------------------------------------------------------------------*/

#data-theme-skin_one #wrapper {
	margin-top: 10px;
	border: 1px solid #fa6f57;
	z-index: 1;
	width: 100%;
	overflow: auto;
}
#data-theme-skin_two #wrapper {
	margin-top: 10px;
	border: 1px solid #4fc1e9;
	z-index: 1;
	width: 100%;
	overflow: auto;
}
#data-theme-skin_three #wrapper {
	margin-top: 10px;
	border: 1px solid #29c8aa;
	z-index: 1;
	width: 100%;
	overflow: auto;
}
#scroller {
	position: relative;
	/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	float: left;
	width: 100%;
	padding: 0;
}
#scroller ul {
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: left;
}
#scroller li {
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	background-color: #fafafa;
	font-size: 14px;
}
#scroller li > a {
	display: block;
}
/**
 *
 * 下拉样式 Pull down styles
 *
 */
#pullDown, #pullUp {
	background: #fff;
	height: 40px;
	line-height: 40px;
	padding: 5px 10px;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	font-size: 14px;
	color: #888;
}
#pullDown .pullDownIcon, #pullUp .pullUpIcon {
	display: block;
	float: left;
	width: 40px;
	height: 40px;
	background: url(pull-icon@2x.png) 0 0 no-repeat;
	-webkit-background-size: 40px 80px;
	background-size: 40px 80px;
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 250ms;
}
#pullDown .pullDownIcon {
	-webkit-transform: rotate(0deg) translateZ(0);
}
#pullUp .pullUpIcon {
	-webkit-transform: rotate(-180deg) translateZ(0);
}
#pullDown.flip .pullDownIcon {
	-webkit-transform: rotate(-180deg) translateZ(0);
}
#pullUp.flip .pullUpIcon {
	-webkit-transform: rotate(0deg) translateZ(0);
}
#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
	background-position: 0 100%;
	-webkit-transform: rotate(0deg) translateZ(0);
	-webkit-transition-duration: 0ms;
	-webkit-animation-name: loading;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}
 @-webkit-keyframes loading {
 from {
-webkit-transform:rotate(0deg) translateZ(0);
}
to {
	-webkit-transform: rotate(360deg) translateZ(0);
}
}
.highlight {
	list-style: none;
	line-height: normal;
}
