.imgAddBtn{
background-image: url(../../images/imgbar/add-1.png); 
background-repeat: no-repeat;
padding:2px 10px 2px 10px;
cursor: pointer;
}
.imgAddBtn:HOVER{
background-image: url(../../images/imgbar/add-2.png);
background-repeat: no-repeat;
padding:2px 10px 2px 10px;
cursor: pointer;
}
.imgEditBtn{
background-image: url(../../images/imgbar/edit-1.png); 
background-repeat: no-repeat;
padding:2px 10px 2px 10px;
cursor: pointer;
}
.imgEditBtn:HOVER{
background-image: url(../../images/imgbar/edit-2.png);
background-repeat: no-repeat;
padding:2px 10px 2px 10px;
cursor: pointer;
}
.imgDelBtn{
background-image: url(../../images/imgbar/del-1.png); 
background-repeat: no-repeat;
padding:2px 10px 2px 10px;
cursor: pointer;
}
.imgDelBtn:HOVER{
background-image: url(../../images/imgbar/del-2.png);
background-repeat: no-repeat;
padding:2px 10px 2px 10px;
cursor: pointer;
}
.imgRefreshBtn{
background-image: url(../../images/imgbar/refresh-1.png); 
background-repeat: no-repeat;
padding:2px 15px 2px 15px;
cursor: pointer;
}
.imgRefreshBtn:HOVER{
background-image: url(../../images/imgbar/refresh-2.png);
background-repeat: no-repeat;
padding:2px 15px 2px 15px;
cursor: pointer;
}
.splitLine{
background-image: url(../../images/imgbar/line-1.png); 
background-repeat: no-repeat; 
margin-left: 5px;
margin-right: 5px;
}