/*header组件样式*/
.white_bg:after,.articleLeft:after,.articleright:after,.tb:after,.content:after{display:block; clear:both; content:""; visibility:hidden; height:0; }
.white_bg{ background-color:#FFF; margin:0; padding:0; width:80%;min-width:1000px;min-height:700px; margin-left:auto; margin-right:auto; padding-top:33px;  }
.white_bg_bg{background-color:#ededed; padding-top:5px;}
.header { height: 42px; line-height:22px; width: 80%; margin-right: auto; margin-left: auto; margin-top: 0px; }
.toolbar {
	height: 32px;
	width: 100%;
	margin-top: 0px;
	position:absolute;
	top:0;
	left:0;
	background-color: #f1f1f1;
	border-bottom:1px solid #dbdbdb;
}
.logo { height: 28px; padding-top:5px; color:#262626; background-image: url(../images/logo.gif); background-repeat: no-repeat; background-position: left center; padding-left: 35px; }

.toggle{text-decoration: none;padding-left:10px; color:#f97000; font-size:12px;}/*	切换*/
.tools { padding-right: 3px; height: 42px; line-height:42px; }

.m_msgNum{ color:#f97000;}/*消息数目*/

.tools ul { height: 42px; }
.tools  li {border-left: 1px solid #E2E2E2; float: left; display: block; height: 12px; line-height: 12px; padding-right: 12px; margin-top:12px; margin-bottom:17px; padding-left: 12px; }
.tools li.first{ border-left-width:0px;}
.tools li a { color: #7b7c7c; text-decoration: none; }
.tools li a:hover{ color:#262626;}
.header_line { background-image: url(../images/header_bg.gif); background-repeat: repeat-x; background-position: left center; height: 1px; width: 100%; margin-right: auto; margin-left: auto; margin-top: 4px; margin-bottom: 4px; background-color:#FFF; }
/*导航组件样式  background:#4D90FE;*/
.main_nav { background:-webkit-gradient(linear, 0 0, 0 100%, from(#789fde), to(#4a6fab));
background: -moz-linear-gradient(top,#789fde,#4a6fab);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#789fde",endColorstr="#4a6fab");
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=" #789fde ",endColorstr=" #4a6fab ")"; background:#4a6fab\9\0; width: 100%; height: 42px; margin-right: auto; margin-left: auto; clear: both; border-top-left-radius:4px; border-top-right-radius:4px; -moz-border-radius-topright:4px; -moz-border-radius-topleft:4px; -webkit-border-top-left-radius:4px; -webkit-border-top-right-radius:4px;  }
.main_nav ul{ padding-left:16px;}
.main_nav li { float: left; height: 34px; line-height: 34px; font-family: "微软雅黑"; font-weight: bold; font-size: 14px; margin-right: 10px; margin-left: 10px;margin-top: 7px; font-weight:normal;}
.main_nav  li a { color: #fcfbfb; text-decoration: none; padding-right: 20px; padding-left: 20px; height: 35px; display: block; _float:left;  }
.current { background-color: #ffffff; color: #262626; border-top-left-radius:4px; border-top-right-radius:4px; border:1px solid #fff;  }
li.current a{ color: #6D6969; }
.main_nav  li a:hover { background-color:#829dc8; border-top-left-radius:4px; border-top-right-radius:4px; }
li.current a:hover{ background-color: #f9f9f9; }
.nav_line { background-image: url(../images/nav_bg.gif); background-repeat: repeat-x; background-position: left center; height: 1px; width: 984px; margin-right: auto; margin-left: auto; clear: both; margin-top: 10px; margin-bottom: 10px; _margin-top: 5px; _margin-bottom: 5px;}
.main_tool { width: 300px; height: 33px; margin-right: 0px; margin-left: auto; }
.main_tool li { float: right; height: 24px;margin-top: 8px; line-height: 24px; font-family: "微软雅黑", "黑体"; font-weight: normal; font-size: 12px; margin-right: 0px; margin-left: 10px; }
.main_tool li a { color: #fff; text-decoration: none; padding-right: 10px; padding-left: 10px; border: 1px dashed transparent; height: 24px; display: block; _float:left;}
.main_tool  li a:hover { background-color:#d8e0ed; }
.main_func{ width: 100%; margin-right: auto; margin-left: auto; margin-top: 0px; height:26px; border: 1px solid #e6e6e6; border-style:none none solid none; background-color:#ffffff; padding-top: 10px; padding-right: 0; padding-bottom: 0; padding-left: 0; color: #262626; }
.main_func_span{margin-left: 20px;font-weight: 700;height:38px;color: gray;}
.main_func a{text-decoration: none;margin-left: 10px;margin-right: 10px;color:#f97000;}
.main_func a:hover{color:#e16e10;}
.global-separator-pd{color: #e7e6e6;padding: 0 5px;}

/*更多下拉导航9-04*/
.main_nav li.more { float: left; height: 34px; line-height: 34px; font-family: "微软雅黑"; font-weight: bold; font-size: 14px; margin-right: 10px; margin-left: 10px;margin-top: 7px; font-weight:normal; position:relative; left:60px; left:/*\**/100px\9;  width:40px; }
.onOff { color: #fcfbfb; text-decoration: none;height: 35px; display: block; _float:left; background:url(../images/navMoreUnon.gif) center center no-repeat; width:0px;}
.main_nav a:hover.onOff  { background-color:#fff;  background:#fff url(../images/navMoreOn.gif) center center no-repeat; width:0px;}
.currentMore { background-color: #ffffff; color: #262626; border-top-left-radius:4px; border-top-right-radius:4px; border-top:1px solid #cecece;border-left:1px solid #cecece; border-right:1px solid #cecece; }
.lastLiBor{border-bottom-width: 1px;  border-bottom-style: solid; border-bottom-color: #cecece;}
a{ blr:expression(this.onFocus=this.blur())}/**去掉a标签的虚线框**/
a:focus{ -moz-outline-style: none; /* FF */ } 

/*弹出消息框*/
.gn_topmenulist { position: absolute; border: 1px solid #333; background: white; padding: 5px 0 0; z-index: 9998; font-size: 12px; }
.gn_tips { width: 190px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; box-shadow: 0 2px 2px rgba(0, 0, 0, .2); margin-left: 850px;margin-top:33px; padding: 7px 0 10px; border-top: none; height:auto; display:none; }
.gn_tips .icon_close { position: absolute; top: 2px; right: 2px; }
.W_ico12 { display: inline-block; width: 12px; height: 12px; background-image: url("../../images/index/icon.png"); _background-image: url("../../images/index/icon.gif"); background-repeat: no-repeat; }
.icon_close:hover { background-position: -100px -25px; }
.icon_close { background-position: -75px -25px; }
.gn_tips .tips_list { padding: 3px 0 0; }
.gn_tips .tips_list li { padding: 0 15px; line-height: 21px; }
.gn_topmenulist a { color: #0A8CD2; }
.gn_topmenulist { color: #333; }
#dropDownBox 
{position:relative;
margin: 0;
left:-71px;top:-1px;width:110px;background:#fff;
display:none;
padding:0;
z-index:10000;
border: 1px solid #4A6FAB;border-top:0;
}
#dropDownBox  a
{ position: relative;
display: block;
margin: 0;line-height:30px;
width: auto;height:30px;
white-space: nowrap;
text-align: left;font-size: 14px;
text-decoration: none;
color: #4a6fab;
padding-right:0px;
padding-left: 13px;}
#dropDownBox ul{
padding:0px;
}
#dropDownBox  a:hover
{ background: #dee5f1;
color: #1950AA;border-radius:0px;
font-size: 14px }

/*新增---NAV*/
.main_nav li.more_one{
	 float: left;
    font-family: "微软雅黑";
    font-size: 14px;
    font-weight: normal;
    height: 34px;
    left: 37px;
    line-height: 34px;
    margin-left: -20px;
    margin-right: 10px;
    margin-top: 7px;
    padding: 0 12px;
    position: relative;
     width:auto;
}
.main_nav li .more_a_one{
	color: #6D6969;
    display: inline;
    padding-left: 0;
}
.onOff_one{
	background: url("../images/navMoreUnon.gif") no-repeat scroll right center rgba(0, 0, 0, 0);
}
.main_nav a:hover.onOff_one{
	background-color:#fff;  background:#fff url(../images/navMoreOn.gif) right center no-repeat; width:0px;
}

