/**********************************************************home页样式************************************************************/
/*内容组件样式*/
.content { width: 100%; margin-right: auto; margin-left: auto;  background-color:#FFF;  }
.content h2 { font-family: "微软雅黑", "黑体"; font-size: 13px; color: #333; padding-top: 10px; padding-left: 16px; padding-bottom: 7px;cursor:move; }
.left_content { width: 27%; padding-right:1%; min-height:200px;}
.main_content { width: 38%;min-height:200px; }
.right_content { width: 33%;float:right; margin-right:2px;min-height:200px;}
.modules { width: 100%; clear: both;margin-top: 10px; min-height:100px; border:1px solid #cfd6e6; margin-bottom:8px; }
.portlet-header{ background-color:#EFEFEF; border-bottom:1px solid #cfd6e6;}
.modules h2 { color: #0d0d0d;  padding-left: 10px; font-weight: normal; font-size:14px; height:28px; line-height:30px; padding-top:0px; }
.service { background-color: #EDECFA;width: 100%; clear: both; margin-top: 10px; min-height:100px; }
.service li { padding-top: 17px; padding-bottom: 13px;  padding-left: 64px; }
.service li a { font-family: "微软雅黑", "黑体"; font-size: 13px; color: #676664; text-decoration: none; }
.service li a:hover {  color: #060606; }
.s1, .s2, .s3, .s4, .s5 { background-image: url(../../images/portal/1372709578_binary-tree.png); background-repeat: no-repeat; background-position: 26px center; }
.s2 { background-image: url(../../images/portal/1370553654_Gnome-Network-Wireless-64.png); }
.s3 { background-image: url(../../images/portal/1370553493_Gnome-Task-Past-Due-64.png); }
.s4 { background-image: url(../../images/portal/1370553595_Gnome-Applications-Office-64.png); }
.s5 { background-image: url(../../images/portal/1370674298_Edit-Male-User.png); }
.activeNews { border: 1px solid #cfd6e6; padding:0; border-top-width:0px; }
.portlet-content{ border:1px solid #cfd6e6;}
.modules_tb{ border-collapse:collapse; width:100%; }
.modules_tb th{ background-color:#f2f2f2; border-right-width: 1px; border-right-style: solid; border-right-color: #dedede; color:#666768; font-weight:normal; font-size:14px;height:30px; line-height:30px; text-align:left; padding:0 0 0 8px; }
.modules_tb td{ background-color:#fcfbfb; color:#2a2c2d; height:30px; line-height:30px; border-top-width: 1px; border-top-style: solid; border-top-color: #e7e6e6; border-right-width: 1px; border-right-style: solid; border-right-color: #e7e6e6; text-align:left; padding:0 0 0 6px; }
table tr .noRightBor{ border-right-width:0px;}
.activeNews ul, .notice ul { padding-top: 10px; padding-left: 10px; }
.activeNews li, .notice li { padding-top: 8px; padding-bottom: 8px; background-image: url(../images/circle.gif); background-repeat: no-repeat; background-position: left center; padding-left: 10px; }
.activeNews li a, .notice li a { color: #000066; text-decoration: none; }
/*通知公告样式*/
.content_line { background-color: #dddddd;  height: 1px; line-height:1px; width: 100%;  margin-bottom:10px;  }
.duty { border: 1px solid #D7D7D7; margin-bottom: 10px; }
.online_user { margin:0; width: 100%; height: 64px; clear: both; background-color: #F8FBFD; /*border: 1px solid #F2F8FC;*/ margin-top: 10px; margin-bottom: 10px; padding-top: 13px; }
.online_user span { font-family: "微软雅黑", "黑体"; font-size: 13px; color: #333; font-weight: bold; padding-left:14px;}
.online_user a { font-family: "微软雅黑", "黑体"; font-size: 12px; color: #333; text-decoration: none; padding-right: 6px; padding-left: 6px; }
.footer { color:#999; width: 100%; margin:10px auto 0; text-align: left; padding: 10px 0 0 0; clear: both; background-color:#f6f6f6; border-top-width: 1px; border-top-style: solid; border-top-color: #d9d9d9; text-align:center; }
.footer p{padding-bottom:10px;}
.footer-link{text-decoration: none;font-size: 12px;color: #262626;margin-right:10px;}
.footer a:hover {color: #3e5d92;}
.m_frLink{ color:#c5c5c5;}
.m_frLink a{ color:#4a6eaa; text-decoration:none; padding:0 9px;}
.m_copyR{#color:818181;}

/*************************************************************登陆页样式*********************************************************/
.login { overflow: hidden; background-image: url(../images/bg.jpg); background-position: center center; }
.login_module { height: 240px; width: 404px; background-image: url(../images/formBG.gif); background-repeat: no-repeat; background-position: center center; position: relative; left:50%; top:50%; margin-top:-90px; margin-left:-202px; }
.userName, .psw { height: 28px; width: 220px; position: absolute; top: 39px; left: 84px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; background-color: transparent; padding-left:26px; line-height:28px; font-family: "微软雅黑", "黑体"; font-size: 12px; color: #888B91; outline:none; }
.psw { top: 92px; left: 84px; }
.txtClick { color:#0C0D10; }
.loginBtn {cursor:pointer;height: 34px; width: 261px; position: absolute; left: 72px; top: 149px; color:#FFF; background:url(../images/loginBtnBg2.jpg) no-repeat center center; font-family:"微软雅黑", "黑体"; font-size:14px; border:0px;}
.losePsw { position: absolute; width: 60px; display: block; left: 275px; top: 205px; font-size: 12px; color: #5C5F63; }
.load { width:48px; height:48px; position:relative; top:50%; left:50%; }
.login_logo {font-weight: 700;position: relative;left:100px;top:20px; font-size: 18px; color: #fff;font-family: "微软雅黑";}
.applyAccount {text-decoration: none; position: absolute; width: 60px; display: block; left: 215px; top: 205px; font-size: 12px; color: #E64346; }
/*************************************************************搜索页样式*************************************************************/
/**搜索表单样式**/
.search { }
.search_form { border: 1px solid #D8D8D8; padding-top: 16px; padding-left: 32px; position: relative; height: 76px; }
.search_txt { border: 1px solid #DDDDDD; height: 24px; width: 160px; padding-left:4px; color:#D8D8D8; line-height:24px;}
.searchBtn { position: absolute; left: 205px; top: 16px; height: 27px; width: 54px; }
.addBtn { position: absolute; left: 270px; top: 16px; }

.searchSelect { font-size: 13px; line-height: 54px; float: left; }
.searchSelectList { padding-top: 10px; padding-bottom: 16px; }
.searchSelectList li { float: left; font-size: 13px; }
.searchSelectList li a { color: #5575B0; text-decoration: none; padding-left: 16px; padding-right: 16px; padding-top: 6px; padding-bottom: 6px; display: block; border:1px solid transparent; }
.searchSelectList li .current { background:#769DDC; border-color:#769DDC; color:#FFF;}
/**搜索结果样式**/
.search_result {  }
.search_item {  padding-right: 10px; padding-left: 10px; padding-top: 10px; position: relative; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #EBEBEB; padding-bottom: 10px; }
.search_item_content { padding-left: 140px; }
.search_item_content li { color: #212121; line-height: 24px; }
.search_title { font-size: 14px; color: #1656C0; text-decoration: none; font-weight: bold; }
.search_color { color: #6A6A6A; }
.search_resource { color: #006; text-decoration: none; }
.search_website { color: #2E7965; text-decoration: none; font-family: Arial, Helvetica, sans-serif; }
/*.searchAddBtn { display: block !important; margin-right: auto !important; margin-left: auto !important; margin-top: 8px !important; }*/
.searchAddBtn{ position:absolute; top:68px; left:23px; }
.search_item_btn a { font-size: 12px; color: #FFF; text-decoration: none; height:28px;display: block; width:51px; float: left; line-height:28px; text-align: center; background:#6B86B1;margin:0 4px; }
.search_item_btn { position: absolute; top: 34px; right: 13px; }
.search_item_btn a:hover { background:#7299D8; color:#FFF; }

.search_clock { position: absolute; left: 10px; top: 10px; }
/*************************************************************表单页样式*************************************************************/
.form_contetn {  border: 0px solid #000; margin-top: 0px; padding: 0px 10px 10px 0; }
.form_contetn h3 { background-color: #F1F1F1; border: 1px solid #E6E6E6; width: 100%; color: #5A89DB; font-size: 14px; line-height: 30px; padding-left: 8px; }
.developForm {  padding-top: 15px;padding-left:50px; }
.developForm_list li {  display: block; height: 40px; }

.developForm_list li label { display: block; float: left; width: 150px; font-size: 13px; text-align: right; padding-right: 6px; height: 28px; line-height: 28px; color: #333333; }
.developForm_list li input,.developForm_list li select{ height: 20px; display: block; float: left; line-height: 20px; font-size:13px; }
.star { background-image: url(../images/star.png); background-repeat: no-repeat; background-position: center center; display: block; height: 6px; width: 5px; float: left; padding-top: 16px; margin-left: 10px; }
.developForm_list_classify { margin-top: 4px; width: 220px; }
.developForm_list_title { width: 216px; }
.developForm_list_descripe,.developForm_list_contetAddr,.developForm_list_errorAddr,.developForm_list_jumpAddr,.developForm_list_loginAddr  { width: 366px; }

.developForm_list_userName,.developForm_list_psw { width: 186px; }
.developForm_list_showHeight { width: 40px; }
.submitBtn { margin-left: 338px; }

.h2-button{display:none;float:right;margin-right:10px;margin-top:6px;}
.icon_close {background-position: -75px -25px;}
.W_ico12 { display: inline-block; width: 12px; height: 12px; background-image: url("../../images/index/icon.png"); _background-image: url("../..//images/index/icon.gif"); background-repeat: no-repeat; }
.icon_close:hover { background-position: -100px -25px; }
.icon13{display: inline-block; width: 12px; height: 12px; background-image: url("../../images/index/icon.png"); _background-image: url("../../images/index/icon.gif"); background-repeat: no-repeat;}
.icon_jump {margin-right:4px;background-position: -175px -25px;}

.border{background-image: url("../images/left_nav_border.png");
background-repeat: no-repeat;height:2px;}
/***********************************************************文章页样式*************************************************************/
.content .articleTitle { font-size: 16px; width: 672px; text-align: center; }
.author { width: 652px; text-align: center; display: block; line-height: 20px; color: #CCC; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #CCC; margin-bottom: 10px; padding-bottom: 6px; }
.articleResource { text-decoration: none; color: #999; }
.articleTime { padding-right: 8px; }
.articleNum { padding-left: 8px; }
.articleLeft p { font-family: "宋体"; color: #333; font-size: 13px;line-height: 20px; text-indent: 24px; }

.articleLeft { width: 652px; padding-left: 20px; border: 1px solid #E0E0E0; float: left; padding-bottom: 10px; padding-right: 20px; }
.articleright { width: 280px; padding-left: 10px; }
.articleListBox h3 { font-size: 14px; line-height: 28px; padding-left: 6px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #CCC; }
.articleListBox { background-color: #EAEAEA; margin-top: 10px; }
.articleListBox ul { list-style-type: decimal; padding-left: 32px; }
.articleListBox li a { color: #666; font-family: "宋体"; line-height: 28px; text-decoration: none; }
/***********************************************************门户设置样式*************************************************************/
.portalSettingsMenu { background-color: #FFF; width: 21%; /*padding: 6px;*/  padding-top:10px; text-align: center; }
.m_inner{ padding-left:10px; padding-bottom:20px;}/*门户设置左缩进10像素*/
.settings_content { border: 1px solid #e3e2e2; min-height:290px; /*width: 199px;*/ border-top:0px none; }
.sidebar_blue .settings_content{border: 1px solid #e3e2e2;}
.portalSettingsMenu h2 { font-size: 16px; color: #fff; line-height: 38px; background-color:#769ddc; border-top-left-radius:4px; border-top-right-radius:4px; -moz-border-radius-topleft:4px; -moz-border-radius-topright:4px; -webkit-border-top-left-radius:4px; -webkit-border-top-right-radius:4px; height: 38px;  display: block; font-style: italic; }
.sidebar_blue h2{ background-color:#56C4C3;}
.portalSettingsMenu h2 tt { font-size: 16px; font-style:normal; font-family:"微软雅黑", "黑体"; }
.settings_content h3 { font-size: 14px; height: 36px; line-height: 36px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #d2dee5; cursor:pointer;color: #3b3e43; background-repeat: no-repeat;  background-position: 30px center; font-weight:normal;}
.settings_content h3 a{ color:#3B3E43;}
.sidebar_blue .settings_content h3{ border-bottom-color: #d2dee5; color:#676664;}
.settings_content h4 { line-height: 36px; font-size: 13px; color: #fff; background-color: #c8d1e4; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #d2dee5; background-repeat:no-repeat; background-position: 30px center; }
.settings_content h4 a{color:#ffffff;}
.sidebar_blue .settings_content h4 {border-bottom-color: #d2dee5; background-color:##E4D7AF; }
.secondMenu li { height: 36px; line-height: 36px; font-size: 13px; color: #4a6eaa;  border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #d2dee5; cursor:pointer; }
.sidebar_blue .secondMenu li { border-bottom-color: #d2dee5; color: #56C4C3}
.settings_content a {background-repeat: no-repeat; background-position: 30px center;display:block;text-decoration: none;}
.sideBarH3 {}
.arrow_down{ background-image: url(../images/arrow_down2.gif); background-repeat:no-repeat; background-position:160px center; display:block; }
.arrow_close{ background-image: url(../images/arrow_right.gif); background-repeat:no-repeat; background-position:160px center; display:block;}
.power { background-image: url(../images/weiTuo.gif); }
.secondMenu a {text-decoration: none;color: #4A6EAA; }
.sidebar_blue .secondMenu a {text-decoration: none;color: #56C4C3; }
.current_menu{ background-color:#d7dff0;}
.hover_current_menu{ background-color:#f1f3f7;}
/***********************************************************内容区样式*************************************************************/
.containerRight { width: 78%; padding-top: 10px; _clear:left; /*padding-left: 4px;*/ }
.containerRight h3 { background-image: url(../images/containerRightH3_bg_left.png); background-repeat: no-repeat; background-position: left center; height: 31px;  line-height: 31px;  color: #0086BE; font-weight: normal; *font-size:13px;margin-bottom: 10px;  }
.tree_bg{background-image: url(../images/containerRightH3_bg_right.png); background-repeat: no-repeat; background-position: right center; display:block; height:31px; margin-left:2px;}
.treeitem {padding-left:16px; color: #CFBA93; font-family:"微软雅黑", "黑体"; font-style:normal; }
.tagTree { /*width: 264px;*/ width:34%; float: left; }

.tagTree_title { height: 16px;  padding-top: 10px; padding-bottom: 10px; background-color:#e4e4e4;}
.tagTree_title a { display: block; float: right; height: 16px; width: 16px; text-indent: -9999px; margin-right: 6px; margin-left: 6px; }
.tagTree_btn_add { background-image: url(../../images/portal/tagTree_btn_add.png); }
.tagTree_btn_del { background-image: url(../../images/portal/tagTree_btn_del.png); }
.tagTree_btn_ref { background-image: url(../../images/portal/tagTree_btn_ref.png); }
.tagTree_content {/* width: 252px;*/ min-height:340px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-right-color: #f2f2f2; border-bottom-color: #f2f2f2; border-left-color: #f2f2f2; padding-top: 10px; padding-left: 10px; }
.formContent { /*width: 450px;*/ width:45.6%; float: left; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-top-color: #f2f2f2; border-right-color: #f2f2f2; border-bottom-color: #f2f2f2; _width: 444px; border-left-width: 1px; border-left-style: solid; border-left-color: #f2f2f2; padding-top: 40px; padding-left: 10%; padding-right:10%; }
.formContent_list li { padding-top: 10px; padding-bottom: 10px; }
.formContent_list label { font-size: 13px; width: 90px; display: block; text-align: right; float: left; height: 20px; line-height: 20px; }
.inputTxt { width: 190px; height: 20px; line-height: 20px; border: 1px solid #dbdbdb; padding-left: 6px; padding-right: 4px; }
.formContent_list_star { color: #FF0000; padding-top: 6px; line-height: 20px; height: 20px; }
.btn { background-color: #60BAF7; padding-top: 2px; padding-right: 20px; padding-bottom: 2px; padding-left: 20px; color: #FFF; font-family: "微软雅黑", "黑体"; font-size: 13px; border: 1px solid #60BAF7; border-radius:2px; -moz-border-radius:5px; margin-right: 2px; margin-left: 2px; margin-top: 10px; margin-bottom: 10px; cursor:pointer; }
.btn_wit { background-color: #FFF; border-top-color: #dbdbdb; border-right-color: #dbdbdb; border-bottom-color: #dbdbdb; border-left-color: #dbdbdb; color: #666666; }
.btn_pad { margin-left: 90px; }
.content_right{border:1px solid #E6E6E6;}

/***********************************************************图标*************************************************************/
.myOrder { background-image: url(../images/myOrder.gif);}/*******我的工单******/
.taskManag { background-image: url(../images/taskManag.gif);}/*******任务管理******/
.workEnt { background-image: url(../images/workEnt.gif);}/*******工作委托******/
.statiy { background-image: url(../images/statiy.gif);}/*******统计分析******/
.schedul { background-image: url(../images/schedul.gif);}/*******排班管理******/
.schedulRule { background-image: url(../images/schedulRule.gif);}/*******排班规则管理******/
.schedulChange { background-image: url(../images/schedulChange.gif);}/*******交接班管理******/
.process { background-image: url(../images/process.gif);}/*******流程管理******/
.addressBook { background-image: url(../images/addressBook.gif);}/*******通讯录******/
.onlineUser { background-image: url(../images/onlineUser.gif);}/*******在线用户******/
.userMang { background-image: url(../images/userMang.gif);}/*******客户管理******/
.supplier { background-image: url(../images/supplier.gif);}/*******供应商管理******/
.guardCard { background-image: url(../images/guardCard.gif);}/*******门禁卡管理******/
.userinoutMang { background-image: url(../images/userinoutMang.gif);}/*******人员出入管理******/
.moveForm { background-image: url(../images/moveForm.gif);}/*******移入申请******/
.removedForm { background-image: url(../images/removedForm.gif);}/*******移出申请******/
.mobForm { background-image: url(../images/mobForm.gif);}/*******移动申请******/
.sqlMang { background-image: url(../images/sqlMang.gif);}/*******基础数据管理******/
.whiteWrench { background-image: url(../images/whiteWrench.gif);}/*******备品备件管理******/
.formProcessMang { background-image: url(../images/formProcessMang.gif);}/*******设备流程管理******/
.mainMang { background-image: url(../images/mainMang.gif);}/*******维保管理******/
.newForm { background-image: url(../images/newForm.gif);}/*******新建工单******/
.dealForm { background-image: url(../images/dealForm.gif);}/*******工单处理******/
.searchForm { background-image: url(../images/searchForm.gif);}/*******工单查询******/
.myDraft { background-image: url(../images/myDraft.gif);}/*******我的草稿-自助服务台******/
.requestNew { background-image: url(../images/requestNew.gif);}/*******新建请求******/
.requestMang { background-image: url(../images/requestMang.gif);}/*******管理请求******/
.dutyMang { background-image: url(../images/dutyMang.gif);}/*******值班管理******/
.dataPermission { background-image: url(../images/dataPermission.gif);}/*******数据权限******/
.releaseInfo { background-image: url(../images/releaseInfo.gif);}/*******信息管理（发布）******/
.checkInfo { background-image: url(../images/checkInfo.gif);}/*******信息管理（审核）******/
.mangInfo { background-image: url(../images/mangInfo.gif);}/*******信息管理（管理）******/
.releaseComponent { background-image: url(../images/releaseComponent.gif);}/*******发布门户组件******/
.account { background-image: url(../images/account.gif);}/*******账号设置******/
.permission { background-image: url(../images/permission.gif);}/*******权限设置******/
.moveIn { background-image: url(../images/moveIn.gif);}/*******移入审批******/
.template{ background-image: url(../images/template.gif);}/*******模版管理******/
.issue{ background-image: url(../images/issue.gif);}/*******发布管理******/
.Ico_shili{ background-image: url(../images/Ico_shili.gif);}/*******实例管理******/
.facility_sort{ background-image: url(../images/facility_sort.gif);}/*******设备类别******/
.jifang_maintain{ background-image: url(../images/jifang_maintain.gif);}/*******机房信息维护******/
.taizhang_maintain{ background-image: url(../images/taizhang_maintain.gif);}/*******台帐信息维护******/
.jigui_maintain{ background-image: url(../images/jigui_maintain.gif);}/*******机柜信息维护******/
.xunjian_maintain{ background-image: url(../images/xunjian_maintain.gif);}/*******巡检信息维护******/
.sort{ background-image: url(../images/sort.gif);}/*******设备类别******/
.maintain{ background-image: url(../images/maintain.gif);}/*******备件信息维护******/
.tiaoma_stamp{ background-image: url(../images/tiaoma_stamp.gif);}/*******备件条码打印******/
.Ico_ruku{ background-image: url(../images/Ico_ruku.gif);}/*******备件入库管理******/
.Ico_chuku{ background-image: url(../images/Ico_chuku.gif);}/*******备件出库管理******/
.Ico_daoru{ background-image: url(../images/Ico_daoru.gif);}/*******期初备件库存导入******/
.tiaoma_stamp{ background-image: url(../images/tiaoma_stamp.gif);}/*******期初备件条码打印******/
.repertory_query{ background-image: url(../images/repertory_query.gif);}/*******备件库存查询******/
.Ico_rukuchaxun{ background-image: url(../images/Ico_rukuchaxun.gif);}/*******备件出入库查询******/
.Ico_iphone{ background-image: url(../images/Ico_iphone.gif);}/*******手机数据管理******/
.jurisdiction{ background-image: url(../images/jurisdiction.gif);}/*******手机权限分配******/
.Ico_3d{ background-image: url(../images/Ico_3d.gif);}/*******三维展示******/
.Ico_moxingguanli{ background-image: url(../images/Ico_moxingguanli.gif);}/*******设备模型管理******/
.life_of_assets{ background-image: url(../images/life_of_assets.gif);}/*******已达资产寿命统计表******/








